body {
    color: #40514e;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 4.5em;
    margin: 55px auto 0 auto;
    line-height: 2;
  
}

a {
    color: #11999E;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}


.name {
    color: rgb(17, 159, 147);
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count:1;

}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: normal;
    position: relative;
    top: 2px;
}

.pro {
      text-decoration: underline;
      animation-duration: 2s;
      animation-name: slidein;
      animation-iteration-count:1;
}

h3 {
    color:  #11999E;
}

.copyright{
    font-size: small;
    margin-top: 40px;
    color: rgb(253, 252, 252);
}

.top-container {
    background-color: rgba(215, 249, 246, 0.74);
    position: relative;
    padding-top: 80px;
} 

.mid-container {
    text-align: justify;
}

.bottom-container {
    margin-top: 70px;
    padding: 20px 0 10px;
    position: relative;
    background-color: #89e4e8;
}

.footer-link{
    position: relative;
    color: #11999E;
}

.footer-link:hover {
    color: rgb(243, 246, 248);
}

.top-cloud{
    position: absolute;
    top : 50px;
    right: 322px;
    animation-name: slidein;
    animation-duration: 4s;
}

@keyframes slidein {
    from {
      margin-left: 10%;
      width: 0%;
    }
  
    to {
      margin-left: 0%;
      width: 9.85%;
    }
  }

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
    animation-name: slidein;
    animation-duration: 4s;
}

.mntn {
    margin-top: 98px;
    animation-name: slideout;
    animation-duration: 4s;
}

@keyframes slideout {
    from {
      margin-bottom: 5%;
      width: 77%;
    }
  
    to {
      margin-left: 0%;
      width: 39.4%;
    }
  }


.profil {
    position: relative;
    margin-top: 50px;
    width: 170px;
    height: 170px;
}

.py {
    width: 17%;
    float: left;
    margin-right: 35px;
    margin-top: 52px;
    margin-bottom: 100px;
   
}


.html {
    width: 21%;
    float: right;
    margin-left: 17px;
    margin-top: 25px;
}

.css {
    width: 22%;
    float: left;
    margin-right: 22px;
}

.react {
    width: 19%;
    float: right;
    margin-left: 20px;
    margin-top: 25px;
}

.skill-row {
    text-align: justify;
    margin: 100px auto 100px auto;
    width: 50%;
    line-height: 2;
}

hr {
    border-style: none;
    color: rgb(210, 208, 208);
    border-top-style: dotted;
    width: 2.5%;
    border-width: 7px;
}

.contact-msg {
    line-height: 2;
    width: 40%;
    margin: 40px auto 55px;       

}
.rotatingText {
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 18px;
    text-align: center;
  }
  
  .rotatingText-adjective { 
    font-family: 'Open Sans', sans-serif;
    color: rgb(10, 186, 163);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    left: 0;
    margin-bottom: 150px;
    position: relative;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 0;
  }
  .rotatingText-adjective { 
    font-family: 'Open Sans', sans-serif;
    font-size:22px;
    font-style: normal;
    font-weight: 700;
    left: 0;
    margin-bottom: 450px;
    margin-top: 270px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 0;
  }

  @keyframes rotate {
    0% {
      opacity: 0;
    }
    
    20%, 80% {
      opacity: 1;
    }
    
    100% {
      opacity: 0;
    }
  }

  .rotatingText-adjective:nth-of-type(1) {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-delay: 2s;
    color: rgb(19, 174, 104);
  }
  
  .rotatingText-adjective:nth-of-type(2) {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-delay: 0.75s;
    color: rgb(24, 213, 197);
  }
  
  .rotatingText-adjective:nth-of-type(3) {
    animation-name: rotate;
    animation-duration: 1.4s;
    animation-delay: 5s;
    color: rgb(7, 162, 152);
  }

  @keyframes rotate-last {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }
  .rotatingText-adjective:nth-of-type(3) {
    animation-name: rotate-last;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }
  @keyframes rotate {
    0% {
      opacity: 0;
      transform: translate3d(0, 50px, 0);
    }
    
    20%, 80% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    
    100% {
      opacity: 0;
      transform: translate3d(0, -25px, 0);
    }
  }
  @keyframes rotate-last {
    0% {
      opacity: 0;
      transform: translate3d(0, 50px, 0);
    }
    
    50%, 100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
.btn {
    background: #8dc9f1;
    background-image: -webkit-linear-gradient(top, #34cddb, #17dde8);
    background-image: -moz-linear-gradient(top, #34cddb, #17dde8);
    background-image: -ms-linear-gradient(top, #34cddb, #17dde8);
    background-image: -o-linear-gradient(top, #34cddb, #17dde8);
    background-image: linear-gradient(to bottom, #34cddb, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 11px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #74b9db, #34dbae);
    background-image: -moz-linear-gradient(top, #17d9c9, #34dbbc);
    background-image: -ms-linear-gradient(top, #3cb0fd, #61aee1);
    background-image: -o-linear-gradient(top, #8fdaea, #34dbbf);
    background-image: linear-gradient(to bottom, #3cb0fd, #34badb);
    text-decoration: none;
  }
